* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
    background:white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.job-form {
    width: 360px;
    background: white;
    padding: 30px;
    border-radius: 16px;
}

.job-form h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #0a3d62;
}

.job-form input,
.job-form select {
    width: 100%;
    padding: 12px;
    margin-bottom: 14px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
}

.job-form button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 25px;
    background: #1dd1a1;
    color: #003f36;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.job-form button:hover {
    background: #17b593;
}
