* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(160deg, #0a3d62, #1dd1a1); /* SAME COLOR */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.login-card {
    width: 320px;
    min-height: 520px;
    padding: 40px 30px;
    background: transparent;   /* IMPORTANT */
    border-radius: 25px;
    color: white;
    text-align: center;
}


.login-card h1 {
    margin: 0;
    font-size: 32px;
}

.login-card h1 span {
    color: #1dd1a1;
}

.tagline {
    font-size: 14px;
    margin-bottom: 40px;
    opacity: 0.8;
}

.login-card input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    outline: none;
}

.login-card button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 20px;
    background: #2ecc71;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.login-card button:hover {
    background: #27ae60;
}

.links {
    margin-top: 30px;
}

.links a {
    display: block;
    font-size: 13px;
    color: white;
    text-decoration: none;
    margin-top: 8px;
    opacity: 0.9;
}
